body
{
    display: flex;
}

.br
{
    border: 1px solid black;
}

#dashboard
{
    background-color: blanchedalmond;
}

#maindiv
{
    background-color: cadetblue;
}

#sidebar
{
    background-color: blanchedalmond;
}