@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.br
{
    /* border: 1px solid black; */
}

.ai
{
    display: flex;
    align-items: center;
}

.jc
{
    display: flex;
    justify-content: center;
}

.fdcol
{
    display: flex;
    flex-direction: column;
}

.fdrow
{
    display: flex;
    flex-direction: row;
}

.hidescrollbar::-webkit-scrollbar 
{
    display: none;
}

/* ! BODY */
body
{
    height: 100vh;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    /* background-color: #1e1f23; */
    /* overflow-y: scroll; */
}

/* ! HEADER */

#header
{
    height: 13vh;
    /* height: 100px; */
}

    #logodiv
    {
        flex: 1;
        justify-content: center;
        font-weight: 700;
    }

    #menudiv
    {
        flex: 2;
        justify-content: space-around;
        font-weight: 700;
        /* margin: 5% 0; */
    }

    #loginbtndiv
    {
        flex: 1;
        justify-content: space-evenly;
        font-weight: 700;
    }

        #loginbtn
        {
            padding: 2% 7%;
            font-size: 0.8em;
            border-radius: 20px;
            color: #1f35a1;
            border: #1f35a1 2px solid;
        }

        #signupbtn
        {
            padding: 2% 8%;
            font-size: 0.8em;
            border-radius: 20px;
            background-color: #1f35a1;
            border: #1f35a1 2px solid;
            color: #d3dbf5;
        }

/* ! MAIN BODY */

#mainbody
{
    min-height: 87vh;
}

    #mainleft
    {
        flex: 1.5;
        width: 100%;
        /* height: 87vh; */
        justify-content: space-between;
    }

        #mainlefttext
        {
            /* margin-left: 2%; */
            width: 50%;
            margin-left: 10%;
            
            margin-top: 25%;
            margin-bottom: 25%;
        }   

            #mltext1
            {
                font-size: 2.9em;
                font-weight: 700;
            }
            
            #mltext2
            {
                font-weight: 700;
                padding: 8% 0;
            }

            #mltext3
            {
                font-size: 0.8em;
                justify-content: space-between;
                padding-left: 5%;
                font-weight: 700;
                border-radius: 25px;
                background-color: #e5e7f4;
                height: 40px;
            }

                #mltext3btn
                {
                    /* font-size: 1.5em; */
                    padding: 1% 10%;
                    font-size: 0.8em;
                    border-radius: 25px;
                    background-color: #1f35a1;
                    height: 40px;

                }

                    #mltext3btn p
                    {
                        font-size: 1.2em;
                        color: #d7ddfc;
                    }
                
        #mainleftfooter
        {
            justify-content: space-around;
            font-weight: 700;
            font-size: 0.9em;
            height: 4em;
        }

    #mainright
    {
        flex: 1;
        /* background-color: bisque; */
        justify-content: flex-end;
    }

        #mainrightboxes
        {
            /* flex: 1; */
            /* height: 200px; */
            /* height: 100%; */

            min-width: 530px;
            min-height: 830px;
            max-height: 950px;
            max-width: 614px;
        }

        #mainrightboxes1
        {
            display: none;
            /* flex: 1; */
            /* height: 200px; */
            height: 100%;

            min-width: 480px;
            min-height: 730px;
        }

        .quarter-circle-top-left{
            width: 100%;
            height: 100%;
            background: red;
            border-radius: 0 0% 100% 00%;
            -moz-border-radius: 0 0 100% 0;
            -webkit-border-radius: 0 0 100% 0;
        }
        .quarter-circle-top-right{
             width: 100%;
             height: 100%;
             /* background: blue; */
             border-radius: 0 0 0 100%;
             -moz-border-radius: 0 0 0 100%;
             -webkit-border-radius: 0 0 0 100%;
        }
        .quarter-circle-bottom-left{
             width: 100%;
             height: 100%;
             background: green;
             border-radius: 0 100% 0 0;
             -moz-border-radius: 0 100% 0 0;
             -webkit-border-radius: 0 100% 0 0;
        }
        .quarter-circle-bottom-right{
             width: 100%;
             height: 100%;
             background: orange;
             border-radius: 100% 0 0 0;
             -moz-border-radius: 100% 0 0 0;
             -webkit-border-radius: 100% 0 0 0;
        }

        .round{
            width: 85%;
            height: 85%;
            background-color: white;
            border-radius: 50%;
            /* background: orange;
            border-radius: 100% ;
            -moz-border-radius: 100% 0 0 0;
            -webkit-border-radius: 100% 0 0 0; */
       }

        /* !SEMI */
        .semi-quarter-circle-top-left{
            width: 40%;
            height: 40%;
            background: orange;
            border-radius: 100% 0 0 0;
            -moz-border-radius: 100% 0 0 0;
            -webkit-border-radius:0 0 100%  0;
       }

       .semi-quarter-circle-top-right{
        width: 40%;
        height: 40%;
        background: orange;
        border-radius: 100% 0 0 0;
        -moz-border-radius: 100% 0 0 0;
        -webkit-border-radius: 00% 0 0 100%;
   }

       .semi-quarter-circle-bottom-right{
        width: 40%;
        height: 40%;
        background: green;
        
        border-radius: 0 0 0 100%;
        -moz-border-radius: 100% 0 100% 0;
        -webkit-border-radius: 100% 0 0 0;
   }

        .semi-quarter-circle-bottom-left{
            width: 40%;
            height: 40%;
            background: green;
            
            border-radius: 0 0 0 100%;
            -moz-border-radius: 0 0 0 100%;
            -webkit-border-radius:0 100% 0 0 ;
        }

        /* ! LINEAR GRADIENT */

        #r1box1{ repeating-linear-gradient:(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
        )}

        .stripes1 {
            /* height: 200px; */
            /* width: 200px; */
            background-image: linear-gradient(45deg, #21389e 25%, transparent 25%, transparent 50%, #21389e 50%, #21389e 75%, transparent 75%, #fff);
            background-size: 40px 40px;

            /* background: repeating-linear-gradient(45deg, #de9dd4, #de9dd4 5px, white 5px, white 10px); */

          }

          .stripes2 {
            /* height: 200px; */
            /* width: 200px; */
            background-image: linear-gradient(45deg, #e25600 25%, transparent 25%, transparent 50%, #e25600 50%, #e25600 75%, transparent 75%, #fff);
            background-size: 40px 40px;

            /* background: repeating-linear-gradient(45deg, #de9dd4, #de9dd4 5px, white 5px, white 10px); */

          }

        

            #row1
            {
                /* display: flex; */
                flex: 1;
            }

                #r1box1
                {
                    flex: 1;
                }

                #r1box2
                {
                    flex: 1;
                }

                #r1box3
                {
                    flex: 1;
                }

                #r1box4
                {
                    flex: 1;
                }

                /* #triangle */
                {
                    background-color: blueviolet;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 500px solid bl;

                    /* border-left: 20px solid transparent;
                    border-right: 20px solid green;
                    border-bottom: 20px solid transparent; */
                }

                
                    .triangle{
                      width: 100%;
                      height: 100%;
                      background: #8bc426;
                      
                      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
                      clip-path: polygon(0 0, 0 100%, 100% 100%);
                    }

                    
                

/* ! MEDIA QUERIES */

@media screen and (max-width: 500px) 
{

    #menudiv
    {
        margin: 5%;
    }

    #mainright
    {
        /* display: none; */
    }

        #mainrightboxes
        {
            /* flex: 1; */
            /* height: 200px; */
            /* height: 100%; */
            /* width: 100%; */

            min-width: 80px;
            min-height: 570px;
        }

        #mainrightboxes1
        {
            display: flex;
            height: ;
            min-width: 80px;
            min-height: 570px;
        }

    #mainbody
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #mainlefttext
    {
        /* margin-left: 2%; */
        width: 90%;
        margin-left: 5%;
        
        margin-top: 25%;
        margin-bottom: 25%;
    } 

    #header
    {
        flex-direction: column;
    }

    #mainleftfooter
    {
        margin-top: 5%;
    }
}

@media screen and (max-width: 770px) 
{
    #mainright
    {
        display: none;
    }

    #mainlefttext
    {
        /* margin-left: 2%; */
        width: 90%;
        margin-left: 5%;
        
        margin-top: 25%;
        margin-bottom: 25%;
    } 
}